/*
light: #00205d
dark: #000e29
*/

html {
    scroll-behavior: smooth;   
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #000e29;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.container {
    padding: 30px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 30px 2px 40px 2px;
    letter-spacing: 10px;
    border-bottom: 2px solid white;
    line-height: 2px;   
}

h2 span {
    padding: 0 10px 0 20px;
}

.section-dark {
    background-color: #000e29;
}

.section-dark h2 span {
    background: #000e29;
}

.section-light {
    background-color: #00205d;
}

.section-light h2 span {
    background: #00205d;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/mountains.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-attachment: fixed;
}

.nav-bar {
    list-style: none;
    float: left;
}

.nav-bar li {
    display: inline-block;
    margin: 20px 20px 0 0;
}

.nav-bar li a:link,
.nav-bar li a:visited {
    color: white;
    padding: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-bar li a:hover,
.nav-bar li a:active {
    color: aqua;
    border-bottom: 2px solid aqua;
}

#my-name {
    font-weight: 800;
    font-size: 175%;
    margin-right: 30px;
    text-transform: none;
}

.hero-text-box {
    position: absolute;
    width: 80%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.hero-text-box h1 {
    text-align: center;
    font-size: 300%;
}

/* CARDS */
.card {
    background-color: #00205d;
    border: none;
    margin: 10px 0 20px 0;
}

.section-light .card {
    background-color: #000e29;
}

.card-body {
    padding: 8px;
}

.card-body h3 {
    text-align: center;
    
}

.card-body p {
    font-size: 100%;
    margin: 2px;
    text-align: center;
}

.card img {
    filter: brightness(1);
    transition: filter 0.3s;    
}

.card img:hover {
    filter: brightness(1.3);
}

/* SKILLS */
.bubble-list {
    padding: 0;
}

.bubble-list li {
    display: inline-block;
}
.bubble-list li span {
    color: black;
    background: #00a1d6;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
}

.bubble-label {
    padding: 0 10px 0 0;
}

/* ABOUT ME */
.pfp {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-bottom: 20px;
}

/* CONTACT ME */
.email-icon {
    width: 30px;
    margin-right: 5px;
}

.email-link {
    color: white;
    transition: color 0.3s;
}

.email-link:hover,
.email-link:active {
    color: aqua;
    text-decoration: none;
}